# تجاهل البيئة الافتراضية
venv/
env/
.venv/

# تجاهل ملفات بايثون المترجمة
__pycache__/
*.pyc

# تجاهل المتغيرات البيئية (التي تحتوي على كلمات السر)
.env

# إذا كنت تستخدم قاعدة بيانات SQLite محلية لا تريد رفعها
db.sqlite3